<div class = "page">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      </head>
      <!-- <a style="float:right">Back</a> -->
      <div class="a">
        <b>GREEN GLOBE..</b>
    </div>
    
    <div class="container-fluid">
      <!-- Control the column width, and how they should appear on different devices -->
      <div class="row">
        <div class="col-sm-3" ><span class="glyphicon glyphicon-tree-conifer"></span></div>
        <div class="col-sm-9"><table style="width:100%">
          <tr>
            <th>EVENT NAME</th>
            <th>LOCATION</th>
            <th>DATE</th>
            <th>STATUS</th>
          </tr>
          <tr>
            <td>TREE PLANTATION</td>
            <td>Kalyani Nagar, Pune</td>
            <td>20-Oct-2019</td>
            <td>Registered</td>
          </tr>
          <tr>
            <td>SWATCH BAHRAT ABHIYAN</td>
            <td>Dhanori, Pune</td>
            <td>29-Sep-2019</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>PAPER RECYCLE EVENT</td>
            <td>Keshav Nagar, Pune</td>
            <td>9-Jul-2019</td>
            <td>Completed</td>
          </tr>
        </table></div> 
         &nbsp;&nbsp;&nbsp;&nbsp;<h6><i>Number of trees planted till now are 03</i></h6>
      </div>
      </div>
    
    
    
        
        
      </div>
    