<div class = "page">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    
    <div class="a">
            <b>GREEN GLOBE..</b>
    </div>
    
    
    <form method="post" action="index.html">
    <div class="box">
    <h1>Login</h1>
    
    <input type="email" name="email" value="test@db.com" onFocus="field_focus(this, 'test@db.com');" onblur="field_blur(this, 'email');" class="email" />
      
    <input type="password" name="email" value="test123" onFocus="field_focus(this, 'test123');" onblur="field_blur(this, 'email');" class="email" />
      
    <a href="#" routerLink="/register"><div class="btn">Sign In</div></a> <!-- End Btn -->
    
    <!-- <a href="#"><div id="btn2">Sign Up</div></a> End Btn2 -->
      
    </div> <!-- End Box -->
      
    </form>
      
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    </div>