agm-map {
    height: 540px;
}

/* Set a background image by replacing the URL below */
// body {
//     background: url(../assets/green.jpg) no-repeat center center fixed;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     background-size: cover;
//     -o-background-size: cover;
//   }

  .container{
      max-width: 100% !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
  }